.output_subarea pre {
	color: #fff;
	background: #312F2B;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
	font-size: min(16px, 1.5vmax);
	tab-size: 2;
}

div.prompt,
.prompt {
 font-family: monospace, monospace;
 font-size: 9pt !important;
 font-weight: normal;
 color: #75715e;
 line-height: 170%;
 padding: 0px;
 padding-top: 4px;
 padding-left: 0px;
 padding-right: 1px;
 text-align: right !important;
 min-width: 11.5ex !important;
 width: 11.5ex !important;
}
div.prompt.input_prompt {
 font-size: 9pt !important;
 background-color: #282828;
 border-top: 0px;
 border-top-right-radius: 0px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 padding-right: 3px;
 min-width: 11.5ex;
 width: 11.5ex !important;
}

div.cell.code_cell .input_prompt {
 border-right: 2px solid #49483e;
}
div.prompt.output_prompt {
 font-size: 9pt !important;
 background-color: #312F2B;
 border-top: 0px;
 border-top-right-radius: 0px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 padding-right: 3px;
 min-width: 11.5ex;
 width: 11.5ex !important;
}

