/* Default theme */
body {
	padding-top: 56px;
  margin-left: auto;
  margin-right: auto;
	font-family: "Cormorant Garamond",sans-serif;
	font-size: 20px;
	color:#ffeabc;
	/*min-width: 780px;*/
	max-width: 2400px;
	background-color: #363530;
}

h1 {
	margin:auto;
	font-size: 4em;
	color: #ffeabc;
	vertical-align: middle;
	text-align: center;
}

p {
	text-indent: 1.5em;
}

a {
	color: #FFCB5C;
}

figcaption {
	text-align: center;
	font-size:1.35vmax;
	color: #b5a685;
}

.large_img {
	object-fit: cover;
	width:100%;
	height: 250px;
}

.img_format {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
	height: 35%;
	max-height: 250pt;
	padding-top: 30px;
	padding-bottom: 30px;

}

hr.dashed {
	width: 80%;
  border-color: #ffeabc;
  border-style: dashed none;
  border-width: 0.5px 0;
}

hr.solid {
	width: 100%;
	border-top: 0.5px solid;
  border-color: #ffeabc;
	border-radius: 5px;
}

.MathJax {
	font-size: min(49px, 1.9vmax);
}

.alert {
	font-weight: bold;
	color: #FFCB5C;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
.navbar-custom {
	background-color: #2B2B26;
}

.nav-home{
	border-bottom: 1px solid;
  border-color: #FFCB5C;
}

.nav-blog{
	border-bottom: 1px solid;
  border-color: #98d5a3;
}

.nav-gallery{
	border-bottom: 1px solid;
  border-color: #FF7577;
}

.nav-about{
	border-bottom: 1px solid;
  border-color: #5c7cff;
}


/* Home */
h1.home_title {
	background-color: #2B2B26;
	padding-left: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 60px;
	color: #FFCB5C;
	margin-top: 24px;
	margin-bottom: 24px;
	/*border-top: 1px solid #FFCB5C;*/
	/*border-bottom: 1px solid #FFCB5C;*/
}

.main_container {
	width: 75%;
	max-width: 1200px;
}

.panel {
	font-family: "Cormorant Garamond",sans-serif;
	/*opacity: .4;*/
	padding: 16px;
}

.panel_header {
	font-size: 1.5em;
	text-align: center;
	background-color: #2B2B26;
	color: #ffeabc;
}

.panel_body {
	border: solid 1px #2B2B26;
}

.panel img {
	width: 100%;
	min-height: 200px;
	height: 30vh;
	object-fit: cover;
}

 /* Blog */
h1.blog_title {
	background-color: #2B2B26;
	padding-left: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 60px;
	color: #98d5a3;
	margin-top: 24px;
	margin-bottom: 24px;
	/*border-bottom: 1px solid #C1DBB3;
	border-top: 1px solid #C1DBB3;*/
}

.blog-img {
	margin-right: 16px;
	margin-left: 16px;
	width: 25%;
	height: auto;
	min-height: 200px;
	object-fit:cover;
}

.blog_post {
	background-color: #41413A;
	padding-bottom: 32px;
}

.blog-post-title {
	font-size: 1.5em;
	background-color: #2B2B26;
	color: #ffeabc;
	padding-left: 16px;
}

.post-meta {
    margin-bottom: 16px;
    font-size: 0.75em;
		padding-bottom:4px;
		padding-left: 24px;
}

.dot {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  display: inline-block;
  background-color: #fc5130;
}

.math_dot {
  background-color: #fc5130;
}
.phys_dot {
  background-color: #2382aa;
}
.p5js_dot {
  background-color: #ed225d;
}

.tag {
	display: inline-block;
	padding-right: 10px;
}

.tag_content {
	font-size: 2vmax;
	display: inline-block;
	font-weight:bold;
	padding-bottom: 5px;
}

/* GALLERY */
h1.gal_title {
	background-color: #2B2B26;
	padding-left: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 60px;
	color: #FF7577;
	margin-top: 24px;
	margin-bottom: 24px;
	/*border-bottom: 1px solid #FF7577;
	border-top: 1px solid #FF7577*/
}

h2.gal_section {
	background-color: #2B2B26;
	border-bottom: 1px solid #FF7577;
	vertical-align: middle;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.gal_container {
  position: relative;
  width: 100%;
	height: 20vh;
	min-height: 200px;
}

.gal_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gal_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gal_container:hover .gal_image {
  opacity: 0.3;
}

.gal_container:hover .gal_middle {
  opacity: 1;
}

.gal_text {
  background-color: #323027;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/* ABOUT SECTION */
h1.about_title {
	background-color: #2B2B26;
	padding-left: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 60px;
	color: #5c7cff;
	margin-top: 24px;
	margin-bottom: 24px;
	/*border-bottom: 1px solid #FF7577;
	border-top: 1px solid #FF7577*/
}

.about_me {
	color: #ffeabc;
	background-color: rgba(96, 94, 86, 0.4) ;
  width: 100%;
	height: 100%;
	padding-top: 30px;
	text-align: center;
}

.about-header {
	font-family: "Lucida Console", Courier, monospace;
}

.about_me h3 {
	font-size: 2.5vmax;
}

.about_me h4 {
	font-size: 2vmax;
}

.about_me hr {
	width: 50%;
  border-color: #ffeabc;
  border-style: solid none;
  border-width: 1.7px 0;
}

.about_me img {
	border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_sec {
	margin-top: 40px;
}

.about_sec h2 {
	font-size: 2vmax;
}

.summary_text{
	text-align: left;
	padding-left: 30px;
}

.collapsible {
  background-color: #56544D;
	color: #ffeabc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active_collapsible, .collapsible:hover {
  background-color: #3D3D3D;
}

.collapsible:after {
  content: '\002B';
  color: #ffeabc;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_collapsible:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #363430;
}

/* Posts */

.head_container {
  position: relative;
  width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.head_text {
  background-color:rgba(66, 64, 59, .7);
	font-size: 2.8vmax;
	color: #ffeabc;
	margin-top: 25px;
	margin-bottom: 25px;
	/*border-bottom: 1px dashed #ffeabc;
	border-top: 1px dashed #ffeabc;*/
	border: 1px solid #ffeabc;
  padding: 16px 32px;
}
.head_image {
  opacity: 0.3;
  display: block;
  width: 100%;
	overflow: hidden;
  height: 25vh;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.no_blur {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.head_middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.post_body {
  display: flex;
  align-items: center;
	width: 70%;
	max-width: 1000px;
	/*margin-left: 15px;*/
	/*margin-left: 15px;*/
}

.post_struct {
	display: block;
}

.my_code {
  overflow: hidden;
	max-height:500px;
}

.sketch-holder {
	display: block;
	width: 100%;
	height: 40%;
	min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.TOC {
	border: 1px solid black; 
	border-collapse: collapse;
}

th, td {
  padding: 5px 15px 2px 15px;
}

.TOC tr:nth-child(even) {
  background-color: #514F48;
}
.TOC tr:nth-child(odd) {
  background-color: #4C4943;
}
.TOC th {
	text-align:center;
  color: #ffeabc;
  background-color: #363430;
} 

.section{
	border-bottom: 1px solid #ffeabc;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	background-color: #2B2B26;
}
 /* Details and Specifics */

/*Reaction Difussion Specific Formating*/
.pannel_fig {
  display: block;
  width: 100%;
}

/* pygments highlight */
.highlight {
  border: 1px solid #2B2A26;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background: #363430;
  line-height: 1.21429em;
  margin-bottom: 10px;
	max-height:500px;
  overflow: scroll;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.highlight pre {
	font-size: min(16px, 1.5vmax);
	tab-size: 2;
}

.highlighttable {
  /*border: 1px solid #cfcfcf;*/
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background: #363430;
	color:#ffeabc;
  line-height: 1.21429em;
  margin-bottom: 10px;
}

.linenodiv pre {
	color:#ffeabc;
}
