<div class="blog_post">
	<h2 class="blog-post-title">
		<a href="TARGET_TAG" class="custom_link">TITLE_TAG</a> <span class="float-right"> <div class="tag"> <!--DOT_TAG--> </div> </span>
	</h2>
	<h6 class="post-meta">
			Posted by:
			<a href="../about">ariel</a>
			on DATE_TAG
	</h6>
	<div class="clearfix">
		<a href="TARGET_TAG">
				<img class="float-left" src="main_image.png" align="left">
		</a>
		<p class="align-self-start">
		<!--Description--> <a href="TARGET_TAG" class="custom_link">Read more</a>
		</p>
	</div>
</div>
<br>
