<!DOCTYPE html>
<html lang='pt'>
	<head>

		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, intial-scale=1">

		<!-- Name on tab -->
		<title>Perlin Noise</title>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700&display=swap" rel="stylesheet"> 

		<!-- Custom CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../../../css/style.css"> <!--TARGET-->
		<link rel="stylesheet" href="../../../css/pygments.css"> <!--TARGET-->

		<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>

		<!-- Custom p5js animations -->
		<script src="sketch.js"></script>
		<script src="perlinMaze.js"></script>
		<script src="waterBall.js"></script>
		<script src="circularMotion.js"></script>

	</head>

	<body>
		<!-- Navigation bar -->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
			<a class="navbar-brand" href="../../.." style="font-weight:bold;">Ariel Yssou</a> <!--TARGET-->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="../../.." style="font-weight:bold;">Home </a><!--TARGET-->
 
					</li>
					<li class="nav-item nav-blog active">
						<a class="nav-link" href="../../" style="font-weight:bold;">Blog <span class="sr-only">(current)</span></a><!--TARGET-->
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../../gallery" style="font-weight:bold;">Gallery </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../../about" style="font-weight:bold;">About</a><!--TARGET-->
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link text-nowrap" href="https://github.com/ArielYssou" target="_blank"><i class="fab fa-github fa-lg"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-nowrap" href="https://www.linkedin.com/in/ariel-yssou-oliveira-f-2a07a5b5/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- End of navigation bar -->
		
		<div class="head_container">
			<img src="./cover_image.png" class="head_image no_blur">
			<div class="head_middle">
				<div class="head_text"><b>Perlin Noise</b></div>
			</div>
		</div>

		<div class="container post_body">
			<div class="row post_struct">
				<div class="col-ld-12">

					<div class = 'sketch-holder' id="circularMotion"></div>
					<!--<div class = 'sketch-holder' id="perlinMaze"></div>-->
					<p>Random events are present in many physical systems and create several intriguing behaviors and patterns. In fact, many systems in nature that we call $``$random$'' are actually deterministic, but just extremely complex and our brains can't comprehend all the patterns in the system as a whole. Computer generated randomness may feel artificial as it is perfectly random and don't exhibit any correlations that generate the rich structures we observe in $``$natural randomness$"$. In this post we will discuss methods to generate random patterns that resemble natural noises, focusing on the famous Perlin noise. We will also discuss some applications as well.</p>
					<img src="collage.jpg" alt="Nature Random Paterns", class="img_format">

					<!-- TOC -->
 <table class="TOC">
  <tr><th>Contents</th></tr>
	<tr><td><a href="#INTRO">1. Introduction</a></td></tr>
	<tr><td><a href="#PERLIN">2. Perlin Noise<F9></a>	</td></tr>
	<tr><td><a href="#CODE">3. Applications</a></a></td></tr>
</table> 
<br></br>
					<a name="INTRO"></a>
					<h2 class="section">1. Introduction</h2>
					<p>
					<p>Lets start our discussion by discussing how we can generate simple random numbers. For this we will need first to define exactly what $``$ random$"$ means. A sequence of numbers is denoted as $``$random$"$ if we cannot fully determine which will be the next element of the sequence even if we know an arbitrary number of past elements (this may not be the most mathematically exact definition, but we will stick with it and ignore any angry mathematician in the audience).
					</p>
					<p>
					As there is no way of generating undeterministic numbers in a computer (thus deterministic), we will create a <b>pseudo random number generator (PRNG)</b>, which is a method to generate sequences that are periodic but inside each period the sequence behaves randomly. The idea here is that the function period is so big that, in practice, we will never reach it. There are many interesting this to discuss about PRNGs, but we will leave this discussion to a separate post.
					</p>
					<p>
					PRNGs are used in academical models as they don't introduce any unwanted correlations into the system, but in our case we want correlations in the generator.These correlations must be complex enough that they don't generate obvious patterns, but no too complex so their effect can be observed in some way. Our task will be to transform this random pattern (such as the one on the left generated with an PRNG) to look more like an noise observed in nature (such as the pattern in clouds, as illustrated on the right image):
					</p>
					<figure>
						<img src="random_noise.jpg" alt="Random Noise" class='img_format'>
					</figure>
					<figure>
						<img src="dry_paint.jpeg" alt="Dry paint" class='img_format'>
					<figure>
					<a name="PERLIN"></a>
					<h2 class="section">2. Perlin Noise</h2>
				<p>
				As our objective is quite loose (to generate a function that resembles natural noises), there is no correct answer. The most simple way of doing this is by just interpolation a function to a sequence of evenly spaced random numbers. The resulting function will have lightly correlated values locally but will behave randomly in a global scale. This method can be used to create a virtually infinite number of noise functions depending on the PRGN used and the interpolation function. Each one of this solutions is acceptable, but there are some things that we must consider.
				<ul>
					<li>Computational efficiency: The function can't be too complex so it becomes computationally unwieldy;</li>
					<li>Complexity: The function can't be too simple so the resulting patters is boring and too simple</li>
					<li>Random: The interpolation must be complex enough so it remains random globally.</li>
				</ul>
				<p>
				One interesting algorithm that solve all these questions was created by Ker Perlin in the 80s when he was trying to make realistic textures to the movie Tron (which won the Oscar for especial effects in part due to his noise algorithm!). His algorithm uses the same rationale of generating random values and then interpolating a function, but the final code was concise, very fast and still behaved randomly. This was not an easy task as he had to published several papers until he came with the final formulation of his algorithm, but the results where fascinating:				</p>
				<!--<figure>
					<img src="neg_plot.png" alt="Random Noise" class='img_format'>
					<figcaption>\(1D\) Perlin noise function.</figcaption>
				</figure>-->
				<p>
				This pattern is continuous locally but globally has a nice random feel to it. We can use it to simulate several interesting things, specially when we don't want to actually model a complex system, but still simulate its behavior. Lets now see some 
				
				<a name="CODE"></a>
				<h2 class="section">2. Applications</h2>
				<p>
				Of course that the number of applications for a function that simulates natural noises is vast. Lets take a look into some demonstrations of different complexities
				</p>
				<h3>Procedual Caves</h3>
				<p>
				A simple way of using the noise function is just truncating all noise values to be either $0$ or $1$ based on a threshold. This gives us the following pattern:
				This patter is very simmilar to an cave or dungeon! We could generate an map for an RPG based on this first approximation. TO make it more interesting, we can 

				<h3>Unstable orbits 1</h3>
				<h3>Perlin field</h3>
				<h3>Unstable orbits 1</h3>
				</p>
 This schema to build a noise function is fairly simple, so we might as well build our own noise function. A worthwhile read about this topic can be found in the <a href="https://thebookofshaders.com/11/" target='_'>Book of Shaders</a>, which has some very nice ideas for possible visualizations of noise.
				<p>As the number of possible applications is almost infinite (a funny expression as nothing is truly 'almost infinite'), we will start with a classical one: generating a force field where the direction of the forces are generated via a noise function. Writing a step by step implementation would be very dull to write (and almost lethally boring to read) so I will just describe the key insights and refer to Daniel Shiffman <a href='https://www.youtube.com/watch?v=BjoM9oKOAKY' target='_'>excellent video</a>  (his entire Youtube channel is amazing and a must see for all code enthusiasts)</p>
				<p>To visualize the field one might plot the usual arrow stream that consists of basically putting an arrow to represent the field in each point of a grid. But a far more beautiful way to visualize the effects of such a field is to generate particles that are subjected to the forces and plot their trajectory. The most 'logical' way to implement this is to create a <code>Particle()</code> generator function (or class if you wish), that generates a particle objects (in JavaScript a prototype object of the class, in python and most decent programming languages a instance of the class). There are many ways to implement the force field, I just set the module of all forces to 1 and generated a random direction via a noise function (not in a \(2\pi\) range to give a "global direction" to the field). Here is the code for the generator function (one of many ways of doing this in JS):</p> 	
<br></br>
<pre>
{% include 'particle_code.js' %}
</pre>
				<p>Each particle holds its current and previous positions and at each step we pot a line between then. Here is the final result</p>
					<p><span class='alert'>Click on the panel bellow to start/stop the simulation.</span> (In some browsers is necessary to click twice to unpause because I screwed the html in some unknown way)</p>
					<div class = 'sketch-holder' id="perlin_field"></div>
					<p>I experimented with some ideas that I had, like adding a central potential to the field (achieving orbits is quite impossible without cheating (adding radial noise that don't affect the circular motion) and sowing only regions where the noise function is bigger than a given threshold (I presume that some video game use this method or some variant to generate maps. If not I just gave you a nice idea for a game).</p>
					<p><span class='alert'>Click on the panels bellow to start/stop the simulation.</span> (In some browsers is necessary to click twice to unpause because I screwed the html in some unknown way)</p>

					<div class="row">
						<div class="col">
							<div class = 'sketch-holder' id="perlin_alt"></div>
						</div>
						<div class="col">
							<div class = 'sketch-holder' id="ink"></div>
						</div>
					</div>

					<p>I hope you liked it! There are many other interesting visualisations that can be achieved using a simple noise function. In the future I'll try to generate terrain with Perlin noise and see if we can make the classical vaporwave sunset that we all know and love. Until the next time, bye :D</p>

					<p>Full code:</p>
<pre>
{% include 'sketch.js' %}
</pre>

				</div>
			</div>
		</div>

		<hr/>
		<script src="../../../js/script.js"> </script><!--TARGET-->
		<!-- Bootstrap + JQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="https://kit.fontawesome.com/9ead9d8df4.js" crossorigin="anonymous"></script>

    <!-- mathjax -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>

	</body>
</html>
